@*@{
    viewdata["title"] = "index";
}

@model icollection<position>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">first</th>
            <th scope="col">last</th>
            <th scope="col">handle</th>
            <th scope="col">delete</th>
            <th scope="col">update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in model()
        {
                    <tr>
                        <th scope="row">1</th>
                        <td>@item.name</td>
                        
                        <td><a asp-route-id="@item.name" asp-action="delete">delete</a></td>
                        <td><a asp-route-id="@item.name" asp-action="update">update</a></td>
                    </tr>
        }


    </tbody>
</table>

*@